<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.AdminMapper">

    <resultMap id="BaseTeacherResultMap" type="com.example.ojsystem.entity.Admin">
        <id column="adminId" jdbcType="BIGINT" property="adminId" />
        <result column="adminAccount" jdbcType="VARCHAR" property="adminAccount" />
        <result column="adminPassword" jdbcType="VARCHAR" property="adminPassword" />
        <result column="adminName" jdbcType="VARCHAR" property="adminName" />
    </resultMap>

    <select id="adminLogin" resultType="java.lang.String" parameterType="com.example.ojsystem.entity.Admin">
        select adminPassword from admin where adminAccount=#{adminAccount}
    </select>


</mapper>