<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ChoiceQuestionLabelMapper">


    <insert id="addChoiceQuestionLabelInfo">
        insert into choicequestionlabel(choiceQuestionId,questionLabelId) VALUES(#{choiceQuestionId},#{questionLabelId})
    </insert>
    <delete id="deleteChoiceQuestionLabelInfoByChoiceQuestionId">
        delete from choicequestionlabel where choiceQuestionId=#{choiceQuestionId}
    </delete>
    <select id="queryChoiceQuestionLabelInfoByChoiceQuestionId" resultType="com.example.ojsystem.entity.QuestionLabel">
        select * from choicequestionlabel,questionlabel where choicequestionlabel.questionLabelId=questionlabel.questionLabelId and choicequestionlabel.choiceQuestionId=#{choiceQuestionId}
    </select>

</mapper>