<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ChoiceQuestionMapper">

    <resultMap id="BaseChoiceQuestionResultMap" type="com.example.ojsystem.entity.ChoiceQuestion">
        <id column="choiceQuestionId" jdbcType="BIGINT" property="choiceQuestionId" />
        <result column="choiceQuestionDescription" jdbcType="VARCHAR" property="choiceQuestionDescription" />
        <result column="choiceQuestionStemA" jdbcType="VARCHAR" property="choiceQuestionStemA" />
        <result column="choiceQuestionStemB" jdbcType="VARCHAR" property="choiceQuestionStemB" />
        <result column="choiceQuestionStemC" jdbcType="VARCHAR" property="choiceQuestionStemC" />
        <result column="choiceQuestionStemD" jdbcType="VARCHAR" property="choiceQuestionStemD" />
        <result column="choiceQuestionCorrectOption" jdbcType="VARCHAR" property="choiceQuestionCorrectOption" />
        <result column="choiceQuestionDifficulty" jdbcType="VARCHAR" property="choiceQuestionDifficulty" />
        <result column="isPrivate" jdbcType="BIT" property="isPrivate" />
        <association property="user" javaType="com.example.ojsystem.entity.User">
            <id column="userId" jdbcType="BIGINT" property="userId" />
            <result column="userName" jdbcType="VARCHAR" property="userName" />
        </association>
        <collection  property="questionLabels" ofType="com.example.ojsystem.entity.QuestionLabel">
            <id column="questionLabelId" jdbcType="BIGINT" property="questionLabelId" />
            <result column="chapter" jdbcType="VARCHAR" property="chapter" />
            <result column="firstKnowledgePoint" jdbcType="VARCHAR" property="firstKnowledgePoint" />
            <result column="secondKnowledgePoint" jdbcType="VARCHAR" property="secondKnowledgePoint" />
        </collection >
    </resultMap>
    <insert id="addChoiceQuestionInfo" parameterType="com.example.ojsystem.entity.ChoiceQuestion" useGeneratedKeys="true" keyProperty="choiceQuestion.choiceQuestionId" keyColumn="choiceQuestionId">
          insert into choicequestion (userId,choiceQuestionDescription,choiceQuestionStemA,choiceQuestionStemB,choiceQuestionStemC,choiceQuestionStemD,choiceQuestionCorrectOption,choiceQuestionDifficulty,isPrivate)
           values(#{choiceQuestion.user.userId},#{choiceQuestion.choiceQuestionDescription},#{choiceQuestion.choiceQuestionStemA},#{choiceQuestion.choiceQuestionStemB}
           ,#{choiceQuestion.choiceQuestionStemC},#{choiceQuestion.choiceQuestionStemD},#{choiceQuestion.choiceQuestionCorrectOption},#{choiceQuestion.choiceQuestionDifficulty},#{choiceQuestion.isPrivate})
    </insert>
    <update id="modifyChoiceQuestionInfo">
        update choicequestion set
        <if test="choiceQuestion.choiceQuestionDescription != null and choiceQuestion.choiceQuestionDescription!=''">
             choicequestion.choiceQuestionDescription = #{choiceQuestion.choiceQuestionDescription},
        </if>
        <if test="choiceQuestion.choiceQuestionStemA != null and choiceQuestion.choiceQuestionStemA!=''">
             choicequestion.choiceQuestionStemA = #{choiceQuestion.choiceQuestionStemA},
        </if>
        <if test="choiceQuestion.choiceQuestionStemB != null and choiceQuestion.choiceQuestionStemB!=''">
             choicequestion.choiceQuestionStemB = #{choiceQuestion.choiceQuestionStemB},
        </if>
        <if test="choiceQuestion.choiceQuestionStemC != null and choiceQuestion.choiceQuestionStemC!=''">
             choicequestion.choiceQuestionStemC = #{choiceQuestion.choiceQuestionStemC},
        </if>
        <if test="choiceQuestion.choiceQuestionStemD != null and choiceQuestion.choiceQuestionStemD!=''">
             choicequestion.choiceQuestionStemD = #{choiceQuestion.choiceQuestionStemD},
        </if>
        <if test="choiceQuestion.choiceQuestionCorrectOption != null and choiceQuestion.choiceQuestionCorrectOption!=''">
             choicequestion.choiceQuestionCorrectOption = #{choiceQuestion.choiceQuestionCorrectOption},
        </if>
        <if test="choiceQuestion.choiceQuestionDifficulty != null and choiceQuestion.choiceQuestionDifficulty!=''">
             choicequestion.choiceQuestionDifficulty = #{choiceQuestion.choiceQuestionDifficulty},
        </if>
        <if test="choiceQuestion.isPrivate != null and choiceQuestion.isPrivate!=''">
             choicequestion.isPrivate = #{choiceQuestion.isPrivate},
        </if>
    </update>
    <select id="queryChoiceQuestionInfo" resultType="com.example.ojsystem.entity.ChoiceQuestion" resultMap="BaseChoiceQuestionResultMap">
        select *from choicequestion,choicequestionlabel,questionlabel,user where choicequestion.choiceQuestionId=choicequestionlabel.choiceQuestionId and choicequestion.userId=user.userId
        and choicequestionlabel.questionLabelId=questionlabel.questionLabelId	and (choicequestion.isPrivate=0 or (choicequestion.isPrivate=1 and choicequestion.userId=#{userId}))
    </select>

    <delete id="deleteChoiceQuestionInfoByChoiceQuestionId" parameterType="java.lang.Integer">
        delete from choicequestion where choiceQuestionId=#{choiceQuestionId}
    </delete>

    <select id="queryChoiceQuestionIdBySearchInfo" resultType="java.lang.Integer" resultMap="BaseChoiceQuestionResultMap">
        select choicequestion.choiceQuestionId from choicequestion,choicequestionlabel,questionlabel,user where choicequestion.choiceQuestionId=choicequestionlabel.choiceQuestionId and choicequestion.userId=user.userId
        and choicequestionlabel.questionLabelId=questionlabel.questionLabelId
        <if test="choiceQuestion.user.userId != null and choiceQuestion.user.userId!=0">
            <if test="choiceQuestion.user.userId==currentUserId">
                and user.userId =#{choiceQuestion.user.userId}
            </if>
            <if test="choiceQuestion.user.userId!=currentUserId">
                and user.userId =#{choiceQuestion.user.userId}  and isPrivate =0
            </if>
        </if>
        <if test="choiceQuestion.user.userId==0">
            and (choicequestion.isPrivate=0 or (choicequestion.isPrivate=1 and choicequestion.userId=#{currentUserId}))
        </if>
        <if test="choiceQuestion.questionLabels[0].chapter!= null and choiceQuestion.questionLabels[0].chapter!=''">
            and questionlabel.chapter = #{choiceQuestion.questionLabels[0].chapter}
        </if>
        <if test="choiceQuestion.questionLabels[0].firstKnowledgePoint!= null and choiceQuestion.questionLabels[0].firstKnowledgePoint!=''">
            and questionlabel.firstKnowledgePoint = #{choiceQuestion.questionLabels[0].firstKnowledgePoint}
        </if>
        <if test="choiceQuestion.questionLabels[0].questionLabelId!= null and choiceQuestion.questionLabels[0].questionLabelId!=''">
            and questionlabel.questionLabelId = #{choiceQuestion.questionLabels[0].questionLabelId}
        </if>
    </select>

    <select id="queryChoiceQuestionInfoByChoiceQuestionId" resultType="com.example.ojsystem.entity.ChoiceQuestion" resultMap="BaseChoiceQuestionResultMap">
        select * from choicequestion,choicequestionlabel,questionlabel,user where choicequestion.choiceQuestionId=choicequestionlabel.choiceQuestionId and choicequestion.userId=user.userId
        and choicequestionlabel.questionLabelId=questionlabel.questionLabelId and choicequestion.choiceQuestionId=#{choiceQuestionId}
    </select>
</mapper>