<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.CompletionQuestionMapper">

    <resultMap id="BaseCompletionQuestionResultMap" type="com.example.ojsystem.entity.CompletionQuestion">
        <id column="completionQuestionId" jdbcType="INTEGER" property="completionQuestionId"/>
        <result column="completionQuestionDifficulty" jdbcType="VARCHAR" property="completionQuestionDifficulty"/>
        <result column="completionQuestionDescription" jdbcType="VARCHAR" property="completionQuestionDescription"/>
        <result column="isPrivate" jdbcType="BIT" property="isPrivate" />
        <association property="user" javaType="com.example.ojsystem.entity.User">
            <id column="userId" jdbcType="BIGINT" property="userId" />
            <result column="userName" jdbcType="VARCHAR" property="userName" />
        </association>
        <collection  property="completionQuestionAnswers" ofType="com.example.ojsystem.entity.CompletionQuestionAnswer">
            <id column="completionQuestionAnswerId" jdbcType="INTEGER" property="completionQuestionAnswerId"/>
            <result column="completionQuestionAnswerContent" jdbcType="VARCHAR" property="completionQuestionAnswerContent"/>
            <result column="completionQuestionAnswerNumber" jdbcType="INTEGER" property="completionQuestionAnswerNumber"/>
        </collection>
        <collection  property="questionLabels" ofType="com.example.ojsystem.entity.QuestionLabel">
            <id column="questionLabelId" jdbcType="BIGINT" property="questionLabelId"/>
            <result column="chapter" jdbcType="VARCHAR" property="chapter"/>
            <result column="firstKnowledgePoint" jdbcType="VARCHAR" property="firstKnowledgePoint"/>
            <result column="secondKnowledgePoint" jdbcType="VARCHAR" property="secondKnowledgePoint"/>
        </collection>
    </resultMap>
    <insert id="insertCompletionQuestionInfo" parameterType="com.example.ojsystem.entity.CompletionQuestion" useGeneratedKeys="true" keyProperty="completionQuestion.completionQuestionId" keyColumn="completionQuestionId">
      insert into completionquestion(userId,completionQuestionDifficulty,completionQuestionDescription,isPrivate)
      values(#{completionQuestion.user.userId},#{completionQuestion.completionQuestionDifficulty},#{completionQuestion.completionQuestionDescription},#{completionQuestion.isPrivate})
    </insert>
    <update id="updateCompletionQuestionInfo" parameterType="com.example.ojsystem.entity.CompletionQuestion">
        update completionquestion set completionQuestionDifficulty=#{completionQuestion.completionQuestionDifficulty},
        completionQuestionDescription=#{completionQuestion.completionQuestionDescription},isPrivate=#{completionQuestion.isPrivate} where completionQuestionId=#{completionQuestion.completionQuestionId}
    </update>
    <delete id="deleteCompletionQuestionInfoByCompletionQuestionId">
        delete from completionquestion where completionQuestionId=#{completionQuestionId}
    </delete>
    <select id="selectCompletionQuestionInfoByUserId" resultType="com.example.ojsystem.entity.CompletionQuestion" parameterType="java.lang.Integer" resultMap="BaseCompletionQuestionResultMap">
        select * from completionquestion,user,completionquestionlabel,questionlabel,completionquestionanswer where  completionquestion.completionQuestionId=completionquestionlabel.completionQuestionId and completionquestion.userId=user.userId
        and completionquestionlabel.questionLabelId=questionlabel.questionLabelId	and completionquestion.completionQuestionId=completionquestionanswer.completionQuestionId   and (completionquestion.isPrivate=0 or (completionquestion.isPrivate=1 and completionquestion.userId=#{userId})) order by completionquestion.completionQuestionId
    </select>
    <select id="selectCompletionQuestionBySearchInfo" resultType="com.example.ojsystem.entity.CompletionQuestion" resultMap="BaseCompletionQuestionResultMap">
        select * from completionquestion,completionquestionlabel,questionlabel,user where completionquestion.completionQuestionId=completionquestionlabel.completionQuestionId and completionquestion.userId=user.userId
        and completionquestionlabel.questionLabelId=questionlabel.questionLabelId
        <if test="completionQuestion.user.userId != null and completionQuestion.user.userId!=0">
            <if test="completionQuestion.user.userId==currentUserId">
                and user.userId =#{completionQuestion.user.userId}
            </if>
            <if test="completionQuestion.user.userId!=currentUserId">
                and user.userId =#{completionQuestion.user.userId}  and isPrivate =0
            </if>
        </if>
        <if test="completionQuestion.user.userId==0">
            and (completionQuestion.isPrivate=0 or (completionQuestion.isPrivate=1 and completionQuestion.userId=#{currentUserId}))
        </if>
        <if test="completionQuestion.questionLabels[0].chapter!= null and completionQuestion.questionLabels[0].chapter!=''">
            and questionlabel.chapter = #{completionQuestion.questionLabels[0].chapter}
        </if>
        <if test="completionQuestion.questionLabels[0].firstKnowledgePoint!= null and completionQuestion.questionLabels[0].firstKnowledgePoint!=''">
            and questionlabel.firstKnowledgePoint = #{completionQuestion.questionLabels[0].firstKnowledgePoint}
        </if>
        <if test="completionQuestion.questionLabels[0].questionLabelId!= null and completionQuestion.questionLabels[0].questionLabelId!=''">
            and questionlabel.questionLabelId = #{completionQuestion.questionLabels[0].questionLabelId}
        </if>
    </select>
    <select id="selectCompletionQuestionIdByCompletionQuestionId" resultType="com.example.ojsystem.entity.CompletionQuestion" resultMap="BaseCompletionQuestionResultMap">
        select * from completionquestion,user,completionquestionlabel,questionlabel,completionquestionanswer where  completionquestion.completionQuestionId=completionquestionlabel.completionQuestionId and completionquestion.userId=user.userId
        and completionquestionlabel.questionLabelId=questionlabel.questionLabelId	and completionquestion.completionQuestionId=completionquestionanswer.completionQuestionId and completionquestion.completionQuestionId=#{completionQuestionId} order by completionquestion.completionQuestionId
    </select>
    <select id="selectCompletionQuestionInfoByExamId" resultType="com.example.ojsystem.entity.CompletionQuestion">
        select choiceQuestionId from examquestion,completionquestion where examquestion.examId=#{examId} and examquestion.examQuestionId=completionquestion.completionQuestionId and examquestion.examQuestionType='completionQuestion'
    </select>
    <select id="selectCompletionQuestionIsExamByCompletionQuestionId" resultType="java.lang.Boolean">
                select questionId from examquestion,exam where examquestion.examQuestionType='completionQuestion' and examquestion.questionId=#{completionQuestionId} and examquestion.examId=exam.examId and exam.examStatus='Running'
    </select>


</mapper>