<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.CompletionQuestionAnswerMapper">

    <resultMap id="BaseCompletionQuestionAnswerResultMap" type="com.example.ojsystem.entity.CompletionQuestionAnswer">
        <id column="completionQuestionAnswerId" jdbcType="BIGINT" property="completionQuestionAnswerId" />
        <result column="completionQuestionAnswerContent" jdbcType="VARCHAR" property="completionQuestionAnswerContent" />
        <result column="completionQuestionAnswerNumber" jdbcType="VARCHAR" property="completionQuestionAnswerNumber" />
    </resultMap>
    <insert id="insertCompletionQuestionAnswerInfo" parameterType="com.example.ojsystem.entity.CompletionQuestionAnswer">
        insert into completionquestionanswer(completionQuestionId,completionQuestionAnswerContent,completionQuestionAnswerNumber) values(#{completionQuestionId},#{completionQuestionAnswer.completionQuestionAnswerContent},#{completionQuestionAnswer.completionQuestionAnswerNumber})
    </insert>
    <delete id="deleteCompletionQuestionAnswerInfoByCompletionQuestionId">
        delete from completionquestionanswer where completionQuestionId=#{completionQuestionId}
    </delete>
    <select id="selectCompletionQuestionAnswerInfoByCompletionQuestionId" resultType="java.lang.String">
        select completionQuestionAnswerContent from completionquestionanswer where completionQuestionId=#{completionQuestionId} and completionQuestionAnswerNumber=#{completionQuestionAnswerNumber}
    </select>


</mapper>