<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamProgrammingQuestionHistoryMapper">

    <resultMap id="BaseExamProgrammingQuestionHistoryResultMap" type="com.example.ojsystem.entity.ExamProgrammingQuestionHistory">
        <id column="examProgrammingQuestionHistoryId" jdbcType="BIGINT" property="examProgrammingQuestionHistoryId" />
        <result column="examProgrammingQuestionResult" jdbcType="VARCHAR" property="examProgrammingQuestionResult" />
        <result column="examProgrammingQuestionCode" jdbcType="VARCHAR" property="examProgrammingQuestionCode" />

    </resultMap>



    <insert id="insertExamProgrammingQuestionHistory" parameterType="com.example.ojsystem.entity.ExamProgrammingQuestionHistory">
        insert into examprogrammingquestionhistory(examQuestionId,userId,examProgrammingQuestionResult,examProgrammingQuestionCode,examProgrammingQuestionResultScore)
        values(#{examProgrammingQuestionHistory.examQuestion.examQuestionId},#{examProgrammingQuestionHistory.user.userId},
        #{examProgrammingQuestionHistory.examProgrammingQuestionResult},#{examProgrammingQuestionHistory.examProgrammingQuestionCode},#{examProgrammingQuestionHistory.examProgrammingQuestionResultScore})
    </insert>
    <update id="updateExamProgrammingQuestionHistoryByExamProgrammingQuestionId">
    update examprogrammingquestionhistory set examProgrammingQuestionResultScore=#{examProgrammingQuestionHistory.examProgrammingQuestionResultScore},examProgrammingQuestionCode=#{examProgrammingQuestionHistory.examProgrammingQuestionCode},examProgrammingQuestionResult=#{examProgrammingQuestionHistory.examProgrammingQuestionResult}
        where examProgrammingQuestionHistoryId=#{examProgrammingQuestionHistory.examProgrammingQuestionHistoryId}
    </update>
    <select id="selectExamProgrammingQuestionHistoryByExamQuestionIdAndUserId" resultType="java.lang.Integer">
        select examProgrammingQuestionHistoryId from examprogrammingquestionhistory where examQuestionId=#{examQuestionId} and userId=#{userId}
    </select>
    <select id="selectExamProgrammingQuestionResultHistoryByExamQuestionIdAndUserId" resultType="java.lang.String">
        select examProgrammingQuestionResult from examprogrammingquestionhistory where examQuestionId=#{examQuestionId} and userId=#{userId}
    </select>

</mapper>