<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamHistoryMapper">

    <resultMap id="BaseExamHistoryResultMap" type="com.example.ojsystem.entity.ExamHistory">
        <id column="examHistoryId" jdbcType="BIGINT" property="examHistoryId" />
        <result column="examUserChoiceTotals" jdbcType="BIGINT" property="examUserChoiceTotals" />
        <result column="examUserProgrammingTotals" jdbcType="BIGINT" property="examUserProgrammingTotals" />

    </resultMap>

    <select id="queryExamRankById" resultType="com.example.ojsystem.entity.ExamHistory">
       SELECT student.studentName,examhistory.examChoiceTotals,examhistory.examProgrammingTotals,examhistory.examUserChoiceTotals+examhistory.examUserProgrammingTotals as total FROM examhistory,student
       where examhistory.examId =#{examId}  and student.studentId=examhistory.studentId order by total desc
    </select>


</mapper>