<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamChoiceQuestionMapper">

    <resultMap id="BaseExamChoiceQuestionResultMap" type="com.example.ojsystem.entity.ExamChoiceQuestion">
        <id column="examChoiceQuestionId" jdbcType="BIGINT" property="examChoiceQuestionId" />
        <result column="examChoiceQuestionTitle" jdbcType="VARCHAR" property="examChoiceQuestionTitle" />
        <result column="examChoiceQuestionStemA" jdbcType="VARCHAR" property="examChoiceQuestionStemA" />
        <result column="examChoiceQuestionStemB" jdbcType="VARCHAR" property="examChoiceQuestionStemB" />
        <result column="examChoiceQuestionStemC" jdbcType="VARCHAR" property="examChoiceQuestionStemC" />
        <result column="examChoiceQuestionStemD" jdbcType="VARCHAR" property="examChoiceQuestionStemD" />
        <result column="examChoiceQuestionCorrectOption" jdbcType="VARCHAR" property="examChoiceQuestionCorrectOption" />
        <result column="examChoiceQuestionScore" jdbcType="BIGINT" property="examChoiceQuestionScore" />
    </resultMap>
    <insert id="addChoiceQuestionExamInfo" parameterType="com.example.ojsystem.entity.ExamChoiceQuestion" useGeneratedKeys="true" keyProperty="examChoiceQuestion.examChoiceQuestionId" keyColumn="examChoiceQuestionId">
         insert into examchoicequestion(examId,examChoiceQuestionTitle,examChoiceQuestionStemA,examChoiceQuestionStemB,examChoiceQuestionStemC,examChoiceQuestionStemD,examChoiceQuestionCorrectOption,examChoiceQuestionScore)
          values(#{examChoiceQuestion.exam.examId},#{examChoiceQuestion.examChoiceQuestionTitle},#{examChoiceQuestion.examChoiceQuestionStemA},#{examChoiceQuestion.examChoiceQuestionStemB},
          #{examChoiceQuestion.examChoiceQuestionStemC},#{examChoiceQuestion.examChoiceQuestionStemD},#{examChoiceQuestion.examChoiceQuestionCorrectOption},#{examChoiceQuestion.examChoiceQuestionScore})
    </insert>
    <update id="modifyChoiceQuestionExamInfo">
        update examchoicequestion set examChoiceQuestionTitle=#{examChoiceQuestion.examChoiceQuestionTitle},examChoiceQuestionStemA=#{examChoiceQuestion.examChoiceQuestionStemA},examChoiceQuestionStemB=#{examChoiceQuestion.examChoiceQuestionStemB},
         examChoiceQuestionStemC=#{examChoiceQuestion.examChoiceQuestionStemC},examChoiceQuestionStemD=#{examChoiceQuestion.examChoiceQuestionStemD},examChoiceQuestionCorrectOption=#{examChoiceQuestion.examChoiceQuestionCorrectOption},
         examChoiceQuestionScore=#{examChoiceQuestion.examChoiceQuestionScore} where examChoiceQuestionId=#{examChoiceQuestion.examChoiceQuestionId}
    </update>
    <delete id="deleteChoiceQuestionExamInfo" parameterType="java.lang.Integer">
          delete from examchoicequestion where examChoiceQuestionId=#{examChoiceQuestionId}
    </delete>
    <select id="queryChoiceQuestionInfoById" resultType="com.example.ojsystem.entity.ExamChoiceQuestion" parameterType="java.lang.Integer" resultMap="BaseExamChoiceQuestionResultMap">
        select * from examchoicequestion where examId=#{examId}
    </select>
    <select id="queryChoiceQuestionTotalScore" resultType="java.lang.Integer">
        select SUM(examChoiceQuestionScore) as examChoiceQuestionTotalScore FROM examchoicequestion where examId=#{examId}
    </select>


</mapper>