<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamHistoryMapper">

    <resultMap id="BaseExamHistoryResultMap" type="com.example.ojsystem.entity.ExamHistory">
        <id column="examHistoryId" jdbcType="INTEGER" property="examHistoryId" />
        <result column="examChoiceQuestionTotals" jdbcType="INTEGER" property="examChoiceQuestionTotals" />
        <result column="examProgrammingTotals" jdbcType="INTEGER" property="examProgrammingTotals" />
        <result column="examCompletionQuestionTotals" jdbcType="INTEGER" property="examCompletionQuestionTotals" />
        <result column="total" jdbcType="INTEGER" property="examTotals" />
        <association property="user" javaType="com.example.ojsystem.entity.User">
            <id column="userId" jdbcType="INTEGER" property="userId" />
            <result column="userName" jdbcType="VARCHAR" property="userName" />
            <result column="userAccount" jdbcType="VARCHAR" property="userAccount" />
        </association>
        <association property="exam" javaType="com.example.ojsystem.entity.Exam">
            <id column="examId" jdbcType="INTEGER" property="examId" />
            <result column="examName" jdbcType="VARCHAR" property="examName" />
        </association>
    </resultMap>

    <resultMap id="BasExamUserJoinToolResultMap" type="com.example.ojsystem.entity.ExamUserJoinTool">
        <result column="examUser" jdbcType="INTEGER" property="examUser" />
        <result column="examSubmitUser" jdbcType="INTEGER" property="examSubmitUser" />
        <result column="examNotSubmitUser" jdbcType="INTEGER" property="examNotSubmitUser" />
    </resultMap>

    <select id="selectExamRankById" resultType="com.example.ojsystem.entity.ExamHistory" resultMap="BaseExamHistoryResultMap">
      select * from user,examusergrouphistory left join exam on exam.groupId=examusergrouphistory.groupId and examusergrouphistory.examId=exam.examId left join examhistory on examusergrouphistory.userId=examhistory.userId and examhistory.examId=exam.examId   where exam.examId=#{examId} and user.userId=examusergrouphistory.userId order by examhistory.examCompletionQuestionTotals+examhistory.examChoiceQuestionTotals+examhistory.examProgrammingTotals DESC
    </select>
    <select id="selectExamHistoryInfoByUserId" resultType="com.example.ojsystem.entity.ExamHistory" resultMap="BaseExamHistoryResultMap">
         SELECT  user.userId,user.userName,examhistory.examChoiceQuestionTotals,examhistory.examProgrammingTotals,exam.examId,exam.examName,
         examhistory.examCompletionQuestionTotals,examhistory.examChoiceQuestionTotals+examhistory.examProgrammingTotals+examhistory.examCompletionQuestionTotals as total
         FROM examhistory,user,exam where examhistory.examId =exam.examId  and user.userId=examhistory.userId and user.userId=#{userId} order by total desc
    </select>
    <select id="selectUserIfJoinExam" resultType="java.lang.Integer">
        select examHistoryId from examhistory where userId=#{userId} and examId=#{examId}
    </select>
    <select id="selectExamUserJoinInfo" resultType="com.example.ojsystem.entity.ExamUserJoinTool" resultMap="BasExamUserJoinToolResultMap">
             select count(*) as examUser,count(if(examhistory.examId is NULL,1,null)) as  examNotSubmitUser ,count(*)-count(if(examhistory.examId is NULL,1,null)) as examSubmitUser from examusergrouphistory
         left join examhistory on examusergrouphistory.userId=examhistory.userId and examhistory.examId=#{examId} left join exam on exam.groupId=examusergrouphistory.groupId  and exam.examId=examusergrouphistory.examId   where exam.examId=#{examId}
    </select>

    <insert id="insertExamHistory" parameterType="com.example.ojsystem.entity.ExamHistory">
        INSERT INTO examhistory(userId,examId,examChoiceQuestionTotals,examCompletionQuestionTotals,examProgrammingTotals)
        VALUES(#{userId},#{examId},#{examChoiceQuestionTotals},#{examCompletionQuestionTotals},#{examProgrammingTotals});
    </insert>
    <select id="selectExamChoiceQuestionResultScore" resultType="java.lang.Integer">
        SELECT ifnull(SUM(examChoiceQuestionResultScore),'0') FROM examchoicequestionhistory,examquestion
        where examId=#{examId} and examquestion.examQuestionId=examchoicequestionhistory.examQuestionId and userId=#{userId};
    </select>
    <select id="selectExamCompletionQuestionResultScore" resultType="java.lang.Integer">
        SELECT ifnull(SUM(examCompletionQuestionResultScore),'0') FROM examcompletionquestionhistory,examquestion
        where examId=#{examId} and examquestion.examQuestionId=examcompletionquestionhistory.examQuestionId and userId=#{userId};
    </select>
    <select id="selectExamProgrammingQuestionResultScore" resultType="java.lang.Integer">
        SELECT ifnull(SUM(examProgrammingQuestionResultScore),'0') FROM examprogrammingquestionhistory,examquestion
        where examId=#{examId} and examquestion.examQuestionId=examprogrammingquestionhistory.examQuestionId and userId=#{userId};
    </select>
    <select id="selectExamHistoryInfo" resultType="com.example.ojsystem.entity.ExamHistory" resultMap="BaseExamHistoryResultMap">
        select * from examhistory,user where examhistory.examId=#{examId} and examhistory.userId=user.userId
    </select>

</mapper>