<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamChoiceQuestionHistoryMapper">

    <resultMap id="BaseExamChoiceQuestionHistoryResultMap" type="com.example.ojsystem.entity.ExamChoiceQuestionHistory">
        <id column="examChoiceQuestionHistoryId" jdbcType="BIGINT" property="examChoiceQuestionHistoryId" />
        <result column="examChoiceQuestionUserSelection" jdbcType="VARCHAR" property="examChoiceQuestionUserSelection" />
    </resultMap>
    <insert id="addExamChoiceQuestionHistory" parameterType="com.example.ojsystem.entity.ExamChoiceQuestionHistory">
          insert into examchoicequestionhistory(studentId,examChoiceQuestionId,examChoiceQuestionUserSelection)
          values(#{examChoiceQuestionHistory.student.studentId},#{examChoiceQuestionHistory.examChoiceQuestion.examChoiceQuestionId},#{examChoiceQuestionHistory.examChoiceQuestionUserSelection})
    </insert>
    <select id="queryStudentExamChoiceScore" resultType="com.example.ojsystem.entity.StudentScoreTool">
        select examchoicequestionhistory.studentId,sum(examchoicequestion.examChoiceQuestionScore) as choiceScore from examchoicequestion,examchoicequestionhistory
        where examchoicequestion.examChoiceQuestionId=examchoicequestionhistory.examChoiceQuestionId and examchoicequestion.examId=#{examId}  and
        examchoicequestion.examChoiceQuestionCorrectOption=examchoicequestionhistory.examChoiceQuestionUserSelection  and   examchoicequestionhistory.studentId  group BY examchoicequestionhistory.studentId
    </select>


</mapper>