<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamProgrammingAnswerMapper">

    <resultMap id="BaseExamProgrammingAnswerResultMap" type="com.example.ojsystem.entity.ExamProgrammingAnswer">
        <id column="examProgrammingAnswerId" jdbcType="BIGINT" property="examProgrammingAnswerId" />
        <result column="examProgrammingAnswerInput" jdbcType="VARCHAR" property="examProgrammingAnswerInput" />
        <result column="examProgrammingAnswerOutput" jdbcType="VARCHAR" property="examProgrammingAnswerOutput" />
    </resultMap>
    <insert id="addExamProgrammingAnswer" parameterType="com.example.ojsystem.entity.ExamProgrammingAnswer" useGeneratedKeys="true" keyProperty="examProgrammingAnswer.examProgrammingAnswerId" keyColumn="examProgrammingAnswerId">
          insert into examprogramminganswer(examProgrammingId,examProgrammingAnswerInput,examProgrammingAnswerOutput)
          values(#{examProgrammingAnswer.examProgramming.examProgrammingId},#{examProgrammingAnswer.examProgrammingAnswerInput},#{examProgrammingAnswer.examProgrammingAnswerOutput})
    </insert>
    <update id="modifyExamProgrammingAnswer" parameterType="com.example.ojsystem.entity.ExamProgrammingAnswer">
          update examprogramminganswer set examProgrammingAnswerInput=#{examProgrammingAnswer.examProgrammingAnswerInput},
          examProgrammingAnswerOutput=#{examProgrammingAnswer.examProgrammingAnswerOutput}  where examProgrammingAnswerId=#{examProgrammingAnswer.examProgrammingAnswerId}
    </update>
    <delete id="deleteExamProgrammingAnswer" parameterType="java.lang.Integer">
          delete from examprogramminganswer where examProgrammingAnswerId=#{examProgrammingAnswerId}
    </delete>


</mapper>