<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExamChoiceQuestionHistoryMapper">

    <resultMap id="BaseExamChoiceQuestionHistoryResultMap" type="com.example.ojsystem.entity.ExamChoiceQuestionHistory">
        <id column="examChoiceQuestionHistoryId" jdbcType="BIGINT" property="examChoiceQuestionHistoryId" />
        <result column="examChoiceQuestionUserSelection" jdbcType="VARCHAR" property="examChoiceQuestionUserSelection" />
    </resultMap>
    <insert id="addExamChoiceQuestionHistory" parameterType="com.example.ojsystem.entity.ExamChoiceQuestionHistory">
          insert into examchoicequestionhistory(userId,examQuestionId,examChoiceQuestionUserSelection)
          values(#{examChoiceQuestionHistory.user.userId},#{examChoiceQuestionHistory.examQuestion.examQuestionId},#{examChoiceQuestionHistory.examChoiceQuestionUserSelection})
    </insert>


</mapper>