<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.ExerciseMapper">

    <resultMap id="BaseExerciseResultMap" type="com.example.ojsystem.entity.Exercise">
        <id column="exerciseId" jdbcType="BIGINT" property="exerciseId" />
        <result column="exerciseTitle" jdbcType="VARCHAR" property="exerciseTitle" />
        <result column="exerciseCorrectTimes" jdbcType="BIGINT" property="exerciseCorrectTimes" />
        <result column="exerciseSubmitTimes" jdbcType="BIGINT" property="exerciseSubmitTimes" />
        <result column="exerciseDescription" jdbcType="VARCHAR" property="exerciseDescription" />
        <result column="exerciseInput" jdbcType="VARCHAR" property="exerciseInput" />
        <result column="exerciseOutPut" jdbcType="VARCHAR" property="exerciseOutPut" />
        <result column="exerciseSampleInput" jdbcType="VARCHAR" property="exerciseSampleInput" />
        <result column="exerciseSampleOutput" jdbcType="VARCHAR" property="exerciseSampleOutput" />
        <association  property="questionLabel" javaType="com.example.ojsystem.entity.QuestionLabel">
            <id column="questionLabelId" jdbcType="BIGINT" property="questionLabelId" />
            <result column="chapter" jdbcType="VARCHAR" property="chapter" />
            <result column="firstKnowledgePoint" jdbcType="VARCHAR" property="firstKnowledgePoint" />
            <result column="secondKnowledgePoint" jdbcType="VARCHAR" property="secondKnowledgePoint" />
            <result column="important" jdbcType="BIT" property="important" />
        </association >
    </resultMap>
    <insert id="addExercise" parameterType="com.example.ojsystem.entity.Exercise" useGeneratedKeys="true" keyProperty="exercise.exerciseId" keyColumn="exerciseId">
        insert into exercise (exerciseTitle,exerciseCorrectTimes,exerciseSubmitTimes,exerciseDescription,exerciseInput,exerciseOutPut,exerciseSampleInput,exerciseSampleOutput)
         values(#{exercise.exerciseTitle},#{exercise.exerciseCorrectTimes},#{exercise.exerciseSubmitTimes},#{exercise.exerciseDescription},#{exercise.exerciseInput},#{exercise.exerciseOutPut},#{exercise.exerciseSampleInput},#{exercise.exerciseSampleOutput})
    </insert>
    <update id="modifyExerciseInfo" parameterType="com.example.ojsystem.entity.Exercise">
         update exercise set exerciseTitle=#{exercise.exerciseTitle},exerciseDescription=#{exercise.exerciseDescription},exerciseInput=#{exercise.exerciseInput},exerciseOutPut=#{exercise.exerciseOutPut},
         exerciseSampleInput=#{exercise.exerciseSampleInput},exerciseSampleOutput=#{exercise.exerciseSampleOutput} where exerciseId=#{exercise.exerciseId}
    </update>
    <delete id="deleteExercise"  parameterType="java.lang.Integer">
        delete from exercise where exerciseId=#{exerciseId}
    </delete>

    <select id="queryExerciseInfo" resultType="com.example.ojsystem.entity.Exercise"  parameterType="com.example.ojsystem.entity.Exercise" resultMap="BaseExerciseResultMap">
       select * from exercisequestionlabel,questionlabel,exercise where exercise.exerciseId=exercisequestionlabel.exerciseId and exercisequestionlabel.questionLabelId=questionlabel.questionLabelId order by exercise.exerciseId
    </select>
    <select id="queryExerciseDetailsInfoByExerciseId" resultType="com.example.ojsystem.entity.Exercise">
        select * from exercise where exerciseId=#{exerciseId}
    </select>
    <select id="queryExerciseInfoByLabelIds" resultType="com.example.ojsystem.entity.Exercise">
        SELECT * FROM exerciselabel WHERE labelId in
        <foreach collection="labels" index="index" item="item" open="(" separator="," close=")">
            #{item.labelId}
        </foreach>
        GROUP BY exerciseId
        HAVING COUNT( DISTINCT labelId ) = #{number} ;
    </select>


</mapper>