<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.GroupMapper">

    <resultMap id="BaseGroupResultMap" type="com.example.ojsystem.entity.Group">
        <id column="groupId" jdbcType="BIGINT" property="groupId" />
        <result column="groupName" jdbcType="VARCHAR" property="groupName" />
        <association property="user" javaType="com.example.ojsystem.entity.User">
            <id column="userId" jdbcType="BIGINT" property="userId" />
            <result column="userName" jdbcType="VARCHAR" property="userName" />
        </association>
    </resultMap>
    <insert id="addGroupInfo"  useGeneratedKeys="true" keyProperty="group.groupId" keyColumn="groupId">
          insert into `group` (groupName,userId)  values(#{group.groupName},#{group.user.userId})
    </insert>
    <update id="modifyGroupInfo" parameterType="com.example.ojsystem.entity.Group">
           update `group` set groupName=#{group.groupName} groupId=#{groupId}
    </update>
    <delete id="deleteGroupInfo" parameterType="java.lang.Integer">
          delete from `group` where groupId=#{groupId}
    </delete>
    <select id="queryGroupInfo" resultType="com.example.ojsystem.entity.Group">
        select * from `group`
    </select>


</mapper>