<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.QuestionLabelMapper">

    <resultMap id="BaseQuestionLabelResultMap" type="com.example.ojsystem.entity.QuestionLabel">
        <id column="questionLabelId" jdbcType="BIGINT" property="questionLabelId" />
        <result column="chapter" jdbcType="VARCHAR" property="chapter" />
        <result column="firstKnowledgePoint" jdbcType="VARCHAR" property="firstKnowledgePoint" />
        <result column="secondKnowledgePoint" jdbcType="VARCHAR" property="secondKnowledgePoint" />
        <result column="important" jdbcType="BIT" property="important" />
    </resultMap>
    <insert id="insertQuestionLabelInfo" parameterType="com.example.ojsystem.entity.QuestionLabel">
        insert into questionlabel (chapter,firstKnowledgePoint,secondKnowledgePoint,important)  values(#{questionLabel.chapter},#{questionLabel.firstKnowledgePoint},#{questionLabel.secondKnowledgePoint},#{questionLabel.important})
    </insert>
    <update id="updateQuestionLabelInfo">
        update questionlabel set chapter=#{questionLabel.chapter},firstKnowledgePoint=#{questionLabel.firstKnowledgePoint},secondKnowledgePoint=#{questionLabel.secondKnowledgePoint},important=#{questionLabel.important} where  questionLabelId=#{questionLabel.questionLabelId}
    </update>
    <delete id="deleteQuestionLabelInfo" parameterType="java.lang.Integer">
        delete from questionlabel where questionLabelId=#{questionLabelId}
    </delete>
    <select id="selectQuestionLabelInfo" resultType="com.example.ojsystem.entity.QuestionLabel">
        select * from questionlabel
    </select>
    <select id="selectChapterInfo" resultType="java.lang.String">
        SELECT distinct chapter FROM questionlabel
    </select>
    <select id="selectFirstKnowledgePointInfoByChapter" resultType="java.lang.String">
        SELECT distinct firstKnowledgePoint FROM questionlabel where chapter=#{chapter}
    </select>
    <select id="selectSecondKnowledgePointInfoByChapter" resultType="com.example.ojsystem.entity.QuestionLabel">
        select * from questionlabel where chapter=#{chapter} and firstKnowledgePoint=#{firstKnowledgePoint}
    </select>


</mapper>