<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.StudentMapper">

    <resultMap id="BaseStudentResultMap" type="com.example.ojsystem.entity.Student">
        <id column="studentId" jdbcType="BIGINT" property="studentId" />
        <result column="studentAccount" jdbcType="VARCHAR" property="studentAccount" />
        <result column="studentPassword" jdbcType="VARCHAR" property="studentPassword" />
        <result column="studentName" jdbcType="VARCHAR" property="studentName" />
        <result column="studentProfile" jdbcType="VARCHAR" property="studentProfile" />
        <association property="classes" javaType="com.example.ojsystem.entity.Classes">
            <id column="classesId" jdbcType="BIGINT" property="classesId" />
            <result column="classesName" jdbcType="VARCHAR" property="classesName" />
        </association>
    </resultMap>
    <insert id="addStudentInfo" parameterType="com.example.ojsystem.entity.Student">
          insert into student (classesId,studentAccount,studentPassword,studentName,studnetSolved,studnetSubmit) values(#{student.classes.classesId},#{student.studentAccount},#{student.studentPassword},#{student.studentName},0,0)
    </insert>
    <update id="modifyStudentInfo" parameterType="com.example.ojsystem.entity.Student">
         update student set classesId=#{student.classes.classesId},studentName=#{student.studentName},studentProfile=#{student.studentProfile} where studentId=#{student.studentId}
    </update>
    <update id="modifyPassword" parameterType="com.example.ojsystem.entity.Student">
           update student set studentPassword=#{student.studentPassword} where studentId=#{student.studentId}
    </update>
    <update id="updateStudnetSubmitInfo" parameterType="java.lang.Integer">
        update student set studnetSolved=studnetSolved+#{solved},studnetSubmit=studnetSubmit+1 where studentId=#{studentId}
    </update>


    <select id="isStudentExist" resultType="com.example.ojsystem.entity.Student" parameterType="com.example.ojsystem.entity.Student" resultMap="BaseStudentResultMap">
        select * from Student where studentAccount=#{student.studentAccount} and studentPassword=#{student.studentPassword}
    </select>
    <select id="isStudentInfoExist" resultType="com.example.ojsystem.entity.Student" resultMap="BaseStudentResultMap">
        select * from Student where studentAccount=#{student.studentAccount}
    </select>
    <select id="queryStudentInfoById" resultType="com.example.ojsystem.entity.Student" resultMap="BaseStudentResultMap">
        select * from student,classes where student.studentId=#{studentId} and student.classesId=classes.classesId
    </select>
    <select id="queryStudentPasswordInfo" resultType="java.lang.Integer">
        select studentPassword from student where studentId=#{studentId}
    </select>
    <select id="queryStudnetRankListInfo" resultType="com.example.ojsystem.entity.Student">
        select studentId,classesId,studentName,studentProfile,studnetSolved,studnetSubmit,studnetSolved/studnetSubmit as acRate from student order by studnetSolved desc,acRate desc
    </select>
    <select id="queryStudentInfo" resultType="com.example.ojsystem.entity.Student" resultMap="BaseStudentResultMap">
          select * from student,classes where student.studentId=#{studentId} and student.classesId=classes.classesId
    </select>

</mapper>