<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ojsystem.dao.UserGroupMapper">


    <insert id="addUserGroupInfo">
        insert into usergroup (groupId,userAccount)  values(#{groupId},#{userAccount})
    </insert>
    <delete id="deleteUserGroupInfoByUserGroupId"  parameterType="java.lang.Integer">
           delete from usergroup where groupId=#{groupId} and userId=#{userId}
    </delete>
    <select id="queryUserGroupInfoByGroupId" resultType="com.example.ojsystem.entity.User" parameterType="java.lang.Integer">
        select * from user,usergroup where user.userId=usergroup.userId and usergroup.groupId=#{groupId}
    </select>


</mapper>